<%- partial('article_header.ejs', {post, post}) %> 
<div class="container">
    <div class="article-container">
        <div class="article-content">
            <%- post.content %>
        </div>

        <% if (theme.enable_gitalk) { %>
            <div class="article-comments" id="comments">
                <%- partial('comments.ejs') %>
            </div>
        <% } %> 

        <%- partial('post_paginator.ejs', {post: post}) %> 
    </div>
</div>