<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">

    <!-- 引入css配置文件 -->
    <%- css('css/main.css') %> 

    <!-- 字体图片集 -->
    <% css('lib/font-awesome/css/font-awesome.min.css') %> 

</head>
<body>
    <div id="main">
        <!-- 引入侧边栏-->

        <div id="content">
            <%- body %>
        </div>

    </div>

    <!-- 引入js文件 -->
    <%- js('js/main.js') %> 

</body>
</html>