<%- partial('_partial/header.ejs') %> 
<% if (site.categories.length){ %>
    <div class="container post-card p-5">
      <h3 class="title-divider"><%= __('Tags') %></h3>
        <div class="card-narrow-content">
          <%- list_tags(site.tags, {
            show_count: true,
            class: 'tag',
          }) %>
        </div>
    </div>
<% } %>