<div class="d-flex flex-row justify-content-between align-items-center bg-primary">
  <div>
    <p class="mb-0">
      "© 2020"
      <a href="https://yulinliang.com">yulinliang</a>
      <span data-toggle="tooltip" data-placement="top" title data-original-title="除非另有说明，否则不允许转载">保留部分权力</span>
    </p>
  </div>
  <div>
    <p>ok</p>
  </div>
</div>