footer-bg =  #f7f7f7;
separator-color = rgba(208, 208, 208, 0.35);
separator-style = rgba(208, 208, 208, 0.35) solid 1px;
background-color = #C4DCF1;
link-background = linear-gradient(to bottom, transparent 80%, #98dce6 70%);
inline-code-bg = #f3f3f3;
inline-code-font-color = black;

/* banner和footer之间的渐变背景色 */
content-linear-bg = linear-gradient(to top, #dfe9f3 0%, white 100%);

/* 正文，toc，首页摘要 */
font-color = #4c4948;
/* 首页摘要的附属信息，如时间，tags etc */
post-info-color = #858585;

/* 首页文章标题 */
title-color = #1e5670;
/* 首页文章标题高亮 */
title-highlight-linear-bg = linear-gradient(30deg, #0c7bb3, #f2bae8);

link-color = #3A6D7A;
link-hover-color = #1e5670;

/* 首页sidebar */
secondary-title-color = #3A6D7A;

banner-cover-color = rgba(7, 32, 58, 0.25);
/* 首页banner的字体 */
banner-font-color = #ffffff;
/* 首页banner button的高亮 */
banner-highlight-color = #ffffff;
/* 首页banner button正常状态颜色 */
banner-btn-color = #ffffff;
    
/* banner 置顶之后的背景色 */
sticky-banner-bg-color = linear-gradient(to right, #fff1eb 0%, #dfe9f3 100%);
/* 置顶banner的正常状态色 */
sticky-banner-btn-color = #007bff;
/* 置顶banner的高亮状态色 */
sticky-banner-highlight-color = #007bff;

/* 首页read more，文章详情页翻页按钮 */
btn-color = #3B8BEB;
/* hover后字体颜色 */
btn-highlight-color = #ffffff;

/*************** tags *************/
tag-1-bg = #f0fff0;
tag-1-font-color = #308014;

tag-2-bg = #f0ffff;
tag-2-font-color = #4169E1;

tag-3-bg = #FFFFCD;
tag-3-font-color = #FF6100;

tag-4-bg = #F8F8FF;
tag-4-font-color = #DD68DD;

tag-5-bg = #BDFCC9;
tag-5-font-color = #228b22;

tag-6-bg = #FFF5EE;
tag-6-font-color = #DA9569;

tag-7-bg = #feecf0;
tag-7-font-color = #cc0f35;

tag-8-bg = #CCFFFF;
tag-8-font-color = #4169E1;

tag-9-bg = #DDA0DD;
tag-9-font-color = #6A5ACD;

tag-10-bg = #F5DEB3;
tag-10-font-color = #FF8000;

grey-1 = #fdfdfd;
grey-2 = #f7f7f7;
grey-3 = #eff2f3;
grey-4 = #ccc;
grey-5 = #999;
grey-6 = #666;
grey-7 = #333;

primary-btn-bg = #C4DBF6;
primary-font-color = #000;

primary-active-btn-bg = #3B8BEB;
primary-active-font-color = #fff;

primary-disable-btn-bg = #c4dBF6;
primary-disable-font-color = #ccc;

primary-highlight-btn-bg = #3B8BEB;
primary-highlight-font-color = #fff;
