:root {
    --test-color: #a86a6a
}
.post {
    width: 800px;
    margin: 0 auto;
}

.article-title {
    text-align: center;
    padding: 80px 50px 50px 50px;
    background: green;
}

.article-title h1 {
    color: #4d4d4d;
    font-size: 40px;
}

.article-subtitle {
    margin: 10px;
}

.article-subtitle-item {
    margin: 10px;
}

/* ---------------------- article content ------------------------ */
.article-content {
    padding: 0 50px 20px 50px;
    line-height: 1.8;
    word-break: break-word;
    font-size: 16px;
}

.article-content h1 {
    font-size: 24px;
}

.article-content h2 {
    border-bottom: 1px solid #eee;
    font-size: 22px;
}

.article-content h3 {
    font-size: 20px;
}

.article-content h4 {
    font-size: 18px;
}

.article-content h5 {
    font-size: 16px;
}

.article-content h6 {
    font-size: 14px;
}

.article-content p {
    margin: 22px 0;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify; 
}

.article-content p strong {
      font-weight: bold;
      color: #333333; 
}

.article-content img {
    padding: 3px;
    border: 1px solid #ddd;
    max-width: 100%;
    margin: 8px auto 8px;
    display: block;
}

.article-content span.img-alt {
    max-width: 80%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
    padding: 0px 0 2px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 12px;
    color: #969696; 
}

.article-content blockquote {
    padding: 15px 20px;
    margin: 20px 0;
    background-color: #F6F6F6;
    border-left: 3px solid #49be38;
    border-radius: 3px;
    word-break: break-word; 
}

.article-content blockquote p:first-child {
    margin-top: 0; 
}

.article-content blockquote p:last-child {
    margin-bottom: 0; 
}

.article-content code {
    padding: 2px 4px;
    font-size: 13px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px; 
}

.article-content a {
    color: #49be38;
    border-bottom: 1px solid #49be38; 
    text-decoration: none;
}

.article-content a:hover {
    color: #c7254e;
    border-bottom: 1px solid  #c7254e;
    background: none; 
}

.article-content ol, .article-content ul {
    margin: 30px 0;
    padding-left: 20px; 
}

.article-content ol li, .article-content ul li {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin: 8px 0; 
}

.article-content ol li:first-child, .article-content ul li:first-child {
    margin-top: 0; 
}

.article-content ol li:last-child, .article-content ul li:last-child {
    margin-bottom: 0; 
}

.article-content .image-caption {
    width: 31%;
    min-width: 20%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
    color: #999999;
    font-style: italic;
    line-height: 1.7;
    margin: 0 auto 20px;
}

.article-content table {
    width: 100%;
    border: 1px #E6E6E6 solid;
    border-collapse: collapse; 
}
  
.article-content th {
    background: #F3F3F3;
    text-align: left; 
}
  
.article-content th, .article-content td {
    border: 1px solid #E6E6E6;
    padding: 5px 8px;
    word-break: normal; 
}

/**********分页************/
.article-navigation {
    border-top: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.article-navigation a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.article-navigation #article-nav-previous {
    float: left;
}

.article-navigation #article-nav-previous .icon-circle-left{
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 5px;
    height: 5px;
    border-color: black;
    transform: rotate(-135deg);
    margin-right: 10px;
}

.article-nav-title {
    display: inline-block;
    margin-top: 5px;
}

.article-navigation #article-nav-next {
    float: right;
}

.article-navigation #article-nav-next .icon-circle-right{
    display: inline-block;
    border-top: 2px solid;
    border-right: 2px solid;
    width: 5px;
    height: 5px;
    border-color: black;
    transform: rotate(45deg);
    margin-left: 10px;
}


/**********代码高亮**********/
.article-content figure.highlight {
    width: 100%;
    overflow-x: auto;
    background-color: #fdf6e3;
    padding: 6px;
    margin: 13px 0;
    /* margin-top: -13px; 与标题之间没有间距 */
    font-size: 14px;
    border-radius: 5px;
    color: #657b83; }
    .article-content figure.highlight .title {
      font-size: 14px; }
  
  .article-content figure.highlight pre {
    /*white-space: pre-wrap;*/
    word-wrap: break-word;
    word-break: break-word; }
  
  .article-content figure.highlight table,
  .article-content figure.highlight tr,
  .article-content figure.highlight td {
    border: none;
    margin-bottom: 0; }
  
  .article-content code,
  .article-content figure.highlight .code,
  .article-content figure.highlight .line {
    line-height: 2;
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace; }
  
  .article-content figure.highlight .comment,
  .article-content figure.highlight .quote {
    color: #93a1a1; }
  
  /* Solarized Green */
  .article-content figure.highlight .keyword,
  .article-content figure.highlight .selector-tag,
  .article-content figure.highlight .addition {
    color: #859900; }
  
  /* Solarized Cyan */
  .article-content figure.highlight .number,
  .article-content figure.highlight .string,
  .article-content figure.highlight .meta .article-content figure.highlight .meta-string,
  .article-content figure.highlight .literal,
  .article-content figure.highlight .doctag,
  .article-content figure.highlight .regexp {
    color: #2aa198; }
  
  /* Solarized Blue */
  .article-content figure.highlight .title,
  .article-content figure.highlight .section,
  .article-content figure.highlight .name,
  .article-content figure.highlight .selector-id,
  .article-content figure.highlight .selector-class {
    color: #268bd2; }
  
  /* Solarized Yellow */
  .article-content figure.highlight .attribute,
  .article-content figure.highlight .attr,
  .article-content figure.highlight .variable,
  .article-content figure.highlight .template-variable,
  .article-content figure.highlight .class .article-content figure.highlight .title,
  .article-content figure.highlight .type {
    color: #b58900; }
  
  /* Solarized Orange */
  .article-content figure.highlight .symbol,
  .article-content figure.highlight .bullet,
  .article-content figure.highlight .subst,
  .article-content figure.highlight .meta,
  .article-content figure.highlight .meta .article-content figure.highlight .keyword,
  .article-content figure.highlight .selector-attr,
  .article-content figure.highlight .selector-pseudo,
  .article-content figure.highlight .link {
    color: #cb4b16; }
  
  /* Solarized Red */
  .article-content figure.highlight .built_in,
  .article-content figure.highlight .deletion {
    color: #dc322f; }
  
  .article-content figure.highlight .formula {
    background: #eee8d5; }
  
  .article-content figure.highlight .emphasis {
    font-style: italic; }
  
  .article-content figure.highlight .strong {
    font-weight: bold; }
  
  .article-content figure.highlight .gutter {
    width: 10px; }