.post {
    width: 800px;
    margin: 0 auto;
}

.article-title {
    text-align: center;
    padding: 80px 50px 50px 50px;
}

.article-title h1 {
    color: #4d4d4d;
    font-size: 40px;
}

.article-subtitle {
    margin: 10px;
}

.article-subtitle-item {
    margin: 10px;
}

/* ---------------------- article content ------------------------ */
.article-content {
    padding: 0 50px 20px 50px;
    word-break: break-word;
}

.article-content h1 {
    font-size: 24px;
}

.article-content h2 {
    border-bottom: 1px solid #eee;
    font-size: 22px;
}

.article-content h3 {
    font-size: 20px;
}

.article-content h4 {
    font-size: 18px;
}

.article-content h5 {
    font-size: 16px;
}

.article-content h6 {
    font-size: 14px;
}

.article-content p {
    margin: 22px 0;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify; 
}

.article-content p strong {
      font-weight: bold;
      color: #333333; 
}

.article-content img {
    padding: 3px;
    border: 1px solid #ddd;
    max-width: 100%;
    margin: 8px auto 8px;
    display: block;
}

.article-content span.img-alt {
    max-width: 80%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: inline-block;
    padding: 0px 0 2px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 12px;
    color: #969696; 
}

.article-content blockquote {
    padding: 15px 20px;
    margin: 20px 0;
    background-color: #F6F6F6;
    border-left: 3px solid #49be38;
    border-radius: 3px;
    word-break: break-word; 
}

.article-content blockquote p:first-child {
    margin-top: 0; 
}

.article-content blockquote p:last-child {
    margin-bottom: 0; 
}

.article-content code {
    padding: 2px 4px;
    font-size: 13px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px; 
}

.article-content a {
    color: #49be38;
    border-bottom: 1px solid #49be38; 
}

.article-content a:hover {
    color: #c7254e;
    border-bottom: 1px solid  #c7254e;
    background: none; 
}

.article-content ol, .article-content ul {
    margin: 30px 0;
    padding-left: 20px; 
}

.article-content ol li, .article-content ul li {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin: 8px 0; 
}

.article-content ol li:first-child, .article-content ul li:first-child {
    margin-top: 0; 
}

.article-content ol li:last-child, .article-content ul li:last-child {
    margin-bottom: 0; 
}

.article-content .image-caption {
    width: 31%;
    min-width: 20%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
    color: #999999;
    font-style: italic;
    line-height: 1.7;
    margin: 0 auto 20px;
}

.article-content table {
    width: 100%;
    border: 1px #E6E6E6 solid;
    border-collapse: collapse; 
}
  
.article-content th {
    background: #F3F3F3;
    text-align: left; 
}
  
.article-content th, .article-content td {
    border: 1px solid #E6E6E6;
    padding: 5px 8px;
    word-break: normal; 
}