/* #################### variables ############### */
:root {
    --background-color: #C4DCF1
}

/* #################### 全局 #################### */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
}

.parent-size {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.primary-color {
    background-color: var(--background-color);
}


/* #################### 首页头部 #################### */

.header-margin {
    margin-top: 100px;
}

/**header background*/
.img-container {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
    .img-container .cover {
        background: rgba(0, 0, 0, 0.35);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        color: white;
    }

/**navigation bar*/
.nav-btn li {
    padding: 5px 20px 5px 20px;
}
    .nav-btn li a {
        text-decoration: none;
        color: #f1f1f1;
    }

    .nav-btn li a:hover {
        color: #fafafa;
    }

    .nav-btn li img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        border-radius: 50%;
        border:2px solid #000000;
        filter: invert(100%) sepia(1%) saturate(82%) hue-rotate(35deg) brightness(115%) contrast(89%);
    }

    .nav-btn li a:hover img {
        filter: invert(99%) sepia(1%) saturate(76%) hue-rotate(269deg) brightness(117%) contrast(89%);
    }

    .nav-btn li span {
        padding-left: 5px;
        vertical-align: middle;
        font-weight: 800;
    }

/**profile*/
.profile-icon img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    transition: All ease-in-out 0.4s;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 5px #95a5a6;
}
    .profile-icon img:hover {
        -webkit-transform: translate(0px, -10px);
                transform: translate(0px, -10px); 
    }

.intro-author {
    margin: 30px 0 30px;
}

/**social media navigation bar*/
.social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}
    .social-media li {
        text-decoration: none;
        list-style: none;
        margin: 5px 20px 5px 20px;
    }

    .social-media img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 10px;
        filter: invert(99%) sepia(1%) saturate(76%) hue-rotate(269deg) brightness(117%) contrast(89%);
    }

    .social-media a:hover img {
        color: white;
    }