@import "theme.css";

/* #################### 全局 #################### */
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
}

.parent-size {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.col-border {
    border-left: #555 dotted 1px;
    border-right: #555 dotted 1px;
}

.primary-color {
    background-color: var(--background-color);
}

.clear-margin {
    margin: 0;
}

.clear-padding {
    padding: 0;
}

.clear-row-padding {
    margin-left: -15px;
    margin-right: -15px;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: lighter;
}

.right-border{
    border-right: black dashed  2px;
}

.card-style {
    border-radius: 12px;
    border: #ddd solid 2px;
    box-shadow: 2px 2px var(--separator-color);
}


/* #################### 首页头部 #################### */

.header-margin {
    margin-top: 100px;
}

/**header background*/
.img-container {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}
    .img-container .cover {
        background: rgba(0, 0, 0, 0.35);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        color: white;
    }

/**navigation bar*/
.nav-btn li {
    padding: 5px 20px 5px 20px;
}
    .nav-btn li a {
        text-decoration: none;
        color: #f1f1f1;
    }

    .nav-btn li a:hover {
        color: #fafafa;
    }

    .nav-btn li img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        border-radius: 50%;
        border:2px solid #000000;
        filter: invert(100%) sepia(1%) saturate(82%) hue-rotate(35deg) brightness(115%) contrast(89%);
    }

    .nav-btn li a:hover img {
        filter: invert(99%) sepia(1%) saturate(76%) hue-rotate(269deg) brightness(117%) contrast(89%);
    }

    .nav-btn li span {
        padding-left: 5px;
        vertical-align: middle;
        font-weight: 800;
    }

/**profile*/
.header .profile-icon img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    transition: All ease-in-out 0.4s;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 5px #95a5a6;
}
    .header .profile-icon img:hover {
        -webkit-transform: translate(0px, -10px);
                transform: translate(0px, -10px); 
    }

.intro-author {
    margin: 30px 0 30px;
}

/**social media navigation bar*/
.social-media {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}
    .social-media li {
        text-decoration: none;
        list-style: none;
        margin: 5px 20px 5px 20px;
    }

    .social-media img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 10px;
        filter: invert(99%) sepia(1%) saturate(76%) hue-rotate(269deg) brightness(117%) contrast(89%);
    }

    .social-media a:hover img {
        color: white;
    }

/* #################### 首页正文 #################### */
.profile-card .profile-icon img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    transition: All ease-in-out 0.4s;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 5px #95a5a6;
}
.profile-card .profile-icon img:hover {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px); 
}

.self-profile-card img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.self-profile-card .intro {
    margin-left: 20px;
    margin-right: 20px;
}

/* #################### index content #################### */
.index-content .item {
    /* background-color: blue; */
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 20px 12px 20px;
    border-bottom: 1px dashed #d9d9d9;
}

.index-content .item:last-child {
    border-bottom: none;
}

.index-content .item a {
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5; 
    text-decoration: none;
}

.index-content .item a:hover #title-content {
    color: #21D4FD;
    background: linear-gradient(30deg, #0c7bb3, #f2bae8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    overflow: auto;
    padding: 0;
 }

.subtitle ul {
    padding: 1px;
}

.subtitle li {
    float: left;
    list-style: none;
    margin: 10px 8px 8px 0px;
    font-size: 12px;
    color: #717171; 
}

/* #################### index content #################### */
footer {
    margin-top: 10px;
    border-top:  var(--separator-style);
    padding-top: 20px;
    padding-bottom: 40px;

    font-size: 14px;
    color: #717171;
}

footer a {
    color: black;
}

#back-to-top {
    z-index: 1;
    cursor: pointer;
    position: fixed;
    height: 2.6em;
    width: 2.7em;
    border-radius: 12px;
    border: 1px solid var(--separator-color);
    transition: 0.2 ease-out;
    -webkit-transition: 0.2s ease-out;
    bottom: 100px;
    right: 10%;
    display: none;
}

#back-to-top img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    filter: invert(33%) sepia(0%) saturate(0%) hue-rotate(203deg) brightness(95%) contrast(93%);
}
