.tag-bar {
    padding: 1rem 0 1rem 0;
}

.tag-bar ul {
    padding-left: 0;
}

.tag-list-item {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 550;
    padding: 3px 5px 3px 5px;
    display: inline;
    margin: 2px;
    border-radius: 4px;
    background: var(--tag-bg);
}

/* .tag-list-item:nth-child(10n + 0) {
    background-color: var(--tag-10-bg);
}

.tag-list-item:nth-child(10n + 1) {
    background-color: var(--tag-1-bg);
}

.tag-list-item:nth-child(10n + 2) {
    background-color: var(--tag-2-bg);
}

.tag-list-item:nth-child(10n + 3) {
    background-color: var(--tag-3-bg);
}

.tag-list-item:nth-child(10n + 4) {
    background-color: var(--tag-4-bg);
}

.tag-list-item:nth-child(10n + 5) {
    background-color: var(--tag-5-bg);
}

.tag-list-item:nth-child(10n + 6) {
    background-color: var(--tag-6-bg);
}

.tag-list-item:nth-child(10n + 7) {
    background-color: var(--tag-7-bg);
}

.tag-list-item:nth-child(10n + 8) {
    background-color: var(--tag-8-bg);
}

.tag-list-item:nth-child(10n + 9) {
    background-color: var(--tag-9-bg);
}*/

.tag-list-item a, .tag-list-item i {
    font-size: 12px;
    color: var(--tag-font-color);
} 

.post-info .separator {
    color: #ddd;
    margin-left: 5px;
    margin-right: 5px;
}