/* #################### variables ############### */
:root {
    --footer-bg:  rgba(208, 208, 208, 0.35);
    --separator-color: rgba(208, 208, 208, 0.35);
    --separator-style: rgba(208, 208, 208, 0.35) solid 1px;
    --background-color: #C4DCF1;
    --link-background: linear-gradient(to bottom, transparent 80%, #98dce6 70%);
    --inline-code-bg: #f3f3f3;
    --inline-code-font-color: black;
}