/* #################### variables ############### */
:root {
    --footer-bg:  rgba(208, 208, 208, 0.35);
    --separator-color: rgba(208, 208, 208, 0.35);
    --separator-style: rgba(208, 208, 208, 0.35) solid 1px;
    --background-color: #C4DCF1;
    --link-background: linear-gradient(to bottom, transparent 80%, #98dce6 70%);
    --inline-code-bg: #f3f3f3;
    --inline-code-font-color: black;

    /* 正文，toc，首页摘要 */
    --font-color: #4c4948;
    /* 首页摘要的附属信息，如时间，tags etc */
    --post-info-color: #858585;

    /* 首页文章标题 */
    --title-color: #1e5670;
    /* 首页文章标题高亮 */
    --title-highlight-linear-bg: linear-gradient(30deg, #0c7bb3, #f2bae8);

    /* 首页sidebar */
    --secondary-title-color: #3A6D7A;

    /* 首页banner的字体 */
    --banner-font-color: #ffffff;
    /* 首页banner button的高亮 */
    --banner-highlight-color: #ffffff;
    /* 首页banner button正常状态颜色 */
    --banner-btn-color: #ffffff;

    /* 首页read more，文章详情页翻页按钮 */
    --btn-color: #4993a6;
    /* hover后字体颜色 */
    --btn-highlight-color: #ffffff;
}