/* #################### variables ############### */
:root {
    --footer-bg:  rgba(208, 208, 208, 0.35);
    --separator-color: rgba(208, 208, 208, 0.35);
    --separator-style: rgba(208, 208, 208, 0.35) solid 1px;
    --background-color: #C4DCF1;
    --link-background: linear-gradient(to bottom, transparent 80%, #98dce6 70%);
    --inline-code-bg: #f3f3f3;
    --inline-code-font-color: black;

    /* banner和footer之间的渐变背景色 */
    --content-linear-bg: linear-gradient(to top, #dfe9f3 0%, white 100%);

    /* 正文，toc，首页摘要 */
    --font-color: #4c4948;
    /* 首页摘要的附属信息，如时间，tags etc */
    --post-info-color: #858585;

    /* 首页文章标题 */
    --title-color: #1e5670;
    /* 首页文章标题高亮 */
    --title-highlight-linear-bg: linear-gradient(30deg, #0c7bb3, #f2bae8);

    --link-color: #3A6D7A;
    --link-hover-color: #1e5670;

    /* 首页sidebar */
    --secondary-title-color: #3A6D7A;

    --banner-cover-color: rgba(7, 32, 58, 0.25);
    /* 首页banner的字体 */
    --banner-font-color: #ffffff;
    /* 首页banner button的高亮 */
    --banner-highlight-color: #ffffff;
    /* 首页banner button正常状态颜色 */
    --banner-btn-color: #ffffff;
    
    /* banner 置顶之后的背景色 */
    --sticky-banner-bg-color: linear-gradient(to right, #fff1eb 0%, #dfe9f3 100%);
    /* 置顶banner的正常状态色 */
    --sticky-banner-btn-color: #3A6D7A;
    /* 置顶banner的高亮状态色 */
    --sticky-banner-highlight-color: #1e5670;

    /* 首页read more，文章详情页翻页按钮 */
    --btn-color: #4993a6;
    /* hover后字体颜色 */
    --btn-highlight-color: #ffffff;

    /*************** tags *************/
    --tag-1-bg: #47cacc;
    --tag-2-bg: #638cc9;
    --tag-3-bg: #cdb3d4;
    --tag-4-bg: #e7b7c8;
    --tag-5-bg: #FFBE88;
    --tag-6-bg: #C6A477;
    --tag-7-bg: #7097a8;
    --tag-8-bg: #7E9680;
    --tag-9-bg: #AE6478;
    --tag-10-bg: #BAC94A;

    --tag-bg: #eeeeee;
    --tag-font-color: #666666;
}