<footer class="footer d-flex w-100 justify-content-between">
        <div class="footer-left">
            <p class="mb-0">
               Copyright © 2020
               <a href="<%- theme.url %>"><%= theme.author %></a>
                <span data-toggle="tooltip"
                        data-placement="top" 
                        title="" 
                        data-original-title="除非另有说明，否则本网站上的博客文章均由作者根据知识共享许可协议 - 署名标示 4.0（CC BY 4.0）进行授权许可。">保留部分权利。
                </span>
            </p>
        </div>
        <div class="footer-right">
            <p class="mb-0">
                本博客由
                <a href="https://hexo.io/" target="_blank">Hexo</a>
                生成，使用
                <a href="https://github.com/yulin-liang/hexo-theme-future" target="_blank">Future</a>
                作为主题
            </p>
        </div>
</footer>