<%- partial('header.ejs') %> 
<div class="container my-5">
    <div class="row justify-content-between">
        <div class="col-4">
            <%- partial('index_sidebar.ejs') %> 
        </div>
        <div class="col-8">
            <%- partial('post_list.ejs', {page: page}) %> 
        </div>
    </div>
    <%- partial('footer.ejs') %> 
</div>