<%- partial('header.ejs') %> 
<div class="container my-5">
    <div class="row justify-content-between">
        <div class="col-4 d-none d-md-block">
            <%- partial('index_sidebar.ejs') %> 
        </div>
        <div class="col-8">
            <%- partial('post_list.ejs', {page: page}) %> 
        </div>
        <a id="back-to-top" class="btn btn-lg btn-box-shadow" href="#" role="button">
            <img src="<%= config.root %>./images/back-to-top.svg">
        </a>
    </div>
</div>