<div class="index-content">
    <% page.posts.each(function(post, index) { %>       
        <%- partial('post_content.ejs',{post: post, index: index}) %>
    <%  }) %>
</div>

<%- partial('paginator.ejs') %>