<div class="index-content card-style">
    <% page.posts.each(function(post, index) { %>           
        <%- partial('post_title.ejs',{post: post}) %>
    <%  }) %>
</div>

<%- partial('paginator.ejs') %>