.categories_table .progress-bar{
    /* 进度条的槽 */
    width:70%;
    /* 设置进度条的高度 */
    height: 8px;
    /*进度条外层div的背景色，进度未达到的地方的颜色 */
    background-color: #f9e1e3;
    
    border-radius: 3px;
}

.categories_table .progress{
    /* 进度部分 */
    /* 利用继承父元素宽度的百分比控制进度 */
    width: 70%;
    height: 100%;
    /* 内层背景色即进度达到的颜色 */
    background-color: #e46a70;
    border-radius: 3px;
}

.categories-container 
    padding: 15px 0 15px 0;
    .category-item 
        margin: 10px 10px 0 10px;
        padding-bottom: 10px;
        border-bottom: #999999 dotted 1px;
        a
            font-size: 14px;
            font-weight: 550;
            color: font-color;
            &:hover
                text-decoration: none;
        .progress-bar
            /* 进度条的槽 */
            width:70%;
            /* 设置进度条的高度 */
            height: 8px;
            /*进度条外层div的背景色，进度未达到的地方的颜色 */
            background-color: #f9e1e3;
            border-radius: 3px;
            progress
                /* 进度部分 */
                /* 利用继承父元素宽度的百分比控制进度 */
                width: 70%;
                height: 100%;
                /* 内层背景色即进度达到的颜色 */
                background-color: #e46a70;
                border-radius: 3px;
        .category-progress-content
            font-size: 12px;
            font-weight: 500;