@import "../_theme.styl";
    
.footer-bg 
    background-color: footer-bg;
    footer 
        height: 80px;
        font-size: 14px;
        color: #999999;
        margin: 0 !important;
        a
            color: tag-2-font-color;

#back-to-top 
    padding: 0;
    z-index: 1;
    cursor: pointer;
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 12px;
    transition: 0.2 ease-out;
    -webkit-transition: 0.2s ease-out;
    bottom: 50px;
    right: 12px;
    display: none;
    i
        font-size: 30px;
        color: primary-highlight-btn-bg;