.self-profile-card 
    .intro
        margin-left: 20px;
        margin-right: 20px;
    img 
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        border-bottom-left-radius:5px;
        border-top-left-radius: 5px;

.profile-card
    .profile-bg-container 
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    .self-profile-icon
        img 
            text-align: center;
            position: absolute;
            margin: 0 auto;
            border-radius: 50%;
            height: 120px;
            width: 120px;
            left: 50%;
            bottom: -60px;
            transition: transform ease-in-out 0.4s;
            padding: 5px;
            background: banner-font-color;
            box-shadow: 0 0 5px #95a5a6; 
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
    .intro
        margin-top: 80px;
        margin-bottom: 30px;
    .intro-author
        font-weight: bold;

    